.DS_Store
.vim/.netrwhist
.vim/pack/themes/start/dracula_pro
.vim/plugged
.config/karabiner/automatic_backups/
.config/containers
.config/NuGet
.config/iterm2/AppSupport
.config/qBittorrent
.config/citra-emu
.config/filezilla
.config/gcloud
.config/gh/hosts.yml
dracula
