# This is Git's per-user configuration file.
[alias]
    a = add
    st = status
    co = checkout
    cob = checkout -b
    com = "!f(){ git checkout $(git main-branch) $@;}; f"
    brv = branch -v
    prb = pull --rebase
    pupu = pull --prune
    last = log -1 HEAD
    puft = pull --tags -f
    prune = fetch --prune
    undo = reset --soft HEAD^
    rebasem = "!f(){ git rebase -i --autosquash origin/$(git main-branch) --no-verify $@;}; f"
    stash-all = stash save --include-untracked
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
[gpg]
    program = gpg
[help]
	autocorrect = 20
[core]
    pager = delta --dark --syntax-theme='Nord'
[interactive]
    diffFilter = delta --color-only
[credential]
    helper = osxkeychain
[diff]
    external = difft
[pull]
	rebase = true
[merge]
    ff = only
    conflictstyle = diff3
[push]
    default = simple
    followTags = true
[status]
    showUntrackedFiles = all
[transfer]
    fsckobjects = true
[includeif "gitdir:~/git/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/git/work/"]
  	path = ~/.gitconfig-work
[init]
	defaultBranch = main
[user]
	name = Denis Brækhus
	email = denis@denis.no
